@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* -------------------------- */
  /* -------HEADER-------- */
/* -------------------------- */

.Header {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}

.Header img {
  width: 150px;
  height: 120px;
  display: flex;
  margin-left: 123px;
  margin-top: 45px;
  margin-right: 56px;
  margin-bottom: 30px;
}

.Header h1 {
  display: flex;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 58.51px;
}

  /* -------------------------- */
 /* ------BUTTON SWITCH-------- */
/* --------------------------- */

.Button1 {
  display: flex;
}

.Switch1 {
  display: flex;
  width:120px;
  height: 70px;
  box-sizing: border-box;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #908F8F;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 71px;
}

.Setswitch1 {
  display: flex;
  width:120px;
  height: 70px;
  box-sizing: border-box;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #908F8F;
  margin-top: 200px;
}


.Button2 {
  display: flex;
}

.Switch2 {
  display: flex;
  width:120px;
  height: 70px;
  box-sizing: border-box;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #908F8F;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 71px;
}

.Setswitch2 {
  display: flex;
  width:120px;
  height: 70px;
  box-sizing: border-box;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #908F8F;
  margin-top: 50px;
}



.Button3 {
  display: flex;
}

.Switch3 {
  display: flex;
  width:120px;
  height: 70px;
  box-sizing: border-box;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #908F8F;
  margin-right: 71px;
  margin-top: 50px;
  margin-left: 400px;
}

.Setswitch3 {
  display: flex;
  width:120px;
  height: 70px;
  box-sizing: border-box;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #908F8F;
  margin-top: 50px;
}

 /* -------------------------- */
 /* ------BUTTON GO-------- */
/* --------------------------- */

.Go {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 400;
  color: #FFF;
  width: 250px;
  height: 145.83px;
  border-radius: 6px;
  border: 1px solid #908F8F;
}

.ButtonGo {
  display: flex;
  margin-top: -230px;
  margin-left: 945px;
  margin-bottom: 505px;
  box-sizing: border-box;
}

/* --------------------------- */
   /* -------FOOTER-------- */
/* --------------------------- */

.Footer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 400;
}

.Footer span {
  font-weight: 700;
}